rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /polls/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /polls/{parent}/report_abuses/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/report_abuses/{document} {
      allow read: if false;
    }


    match /inquiries/{document} {
      allow create: if true;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /categories/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
